pre code {
  color: white;
  font-size: 15px;
}

pre {
  /*background-color: rgb(2, 59, 92);*/
  background-color:teal;
}

body {
  margin-top: -30px;
}

td, tr, th {
 font-Size: 15px;

}

td {
  border-bottom: none;
  text-align: justify;
}

tr {
  border-bottom: 1px solid hsla(0,0%,0%,0.12);
}

code {
  color:#c504cd;
}